{% extends 'dashboard_base.html'%}
{%block title%}Dashboard all orders{%endblock%}
{%block content%}
<div class="container-fluid">
    <h1>All orders page</h1>
    {% with messages = get_flashed_messages()%}
    {%if messages%}
    {%for message in messages%}
    <p style="color:red">{{message}}</p>
    {%endfor%}
    {% endif %}
    {% endwith %}


    <a href={{url_for('dashboard_edit_orders')}} class="btn btn-warning me-2 ">Edit orders</a>
    <a href={{url_for('dashboard')}} class="btn btn-primary">dashboard</a>
    <hr>
    {%if all_orders%}
    <h3>All orders list:</h3>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">name</th>
            <th scope="col">surname</th>
            <th scope="col">email</th>
            <th scope="col">user_id</th>
            <th scope="col">date_order</th>
            <th scope="col">time_order</th>
            <th scope="col">address_country</th>
            <th scope="col">address_city</th>
            <th scope="col">address_street</th>
            <th scope="col">address_home</th>
            <th scope="col">address_zip_code</th>
            <th scope="col">price</th>
            <th scope="col">items_order</th>
            <th scope="col">delivery</th>
            <th scope="col">payment_method</th>
            <th scope="col">status</th>
            <th scope="col">#</th>

        </tr>
        </thead>
        <tbody>
        {%for order in all_orders%}
        {%if order.status==1%}
        <tr class="table-danger">
            <td scope="col">{{order.id}}</td>
            <td scope="col">{{order.name}}</td>
            <td scope="col">{{order.surname}}</td>
            <td scope="col">{{order.email}}</td>
            <td scope="col">{{order.user_id}}</td>
            <td scope="col">{{order.date_order}}</td>
            <td scope="col">{{order.time_order}}</td>
            <td scope="col">{{order.address_country}}</td>
            <td scope="col">{{order.address_city}}</td>
            <td scope="col">{{order.address_street}}</td>
            <td scope="col">{{order.address_home}}</td>
            <td scope="col">{{order.address_zip_code}}</td>
            <td scope="col">{{order.price}}</td>
            <td scope="col">
                {%for ord in order_item%}
                {%for item in all_items%}
                {%if ord.id_order==order.id%}
                {%if item.id==ord.id_item%}
                <p style="color:red">Name:{{item.name}} Id:{{item.id}} EAN:{{item.EAN_code}} Price:{{item.price}}</p>
                {%endif%}
                {%endif%}
                {%endfor%}
                {%endfor%}
            </td>
            <td scope="col">{{order.delivery}}</td>
            <td scope="col">{{order.payment_method}}</td>
            <td scope="col">{{order.status}}</td>


            <td scope="col"><a href={{url_for('order_update_status',order_id=order.id)}}
                               class="btn btn-warning me-1">Update status</a>
                <a
                        href="#"
                        class="btn btn-danger disabled me-1">Delete order</a>
            </td>
        </tr>
        {%elif order.status==2%}
        <tr class="table-warning">
            <td scope="col">{{order.id}}</td>
            <td scope="col">{{order.name}}</td>
            <td scope="col">{{order.surname}}</td>
            <td scope="col">{{order.email}}</td>
            <td scope="col">{{order.user_id}}</td>
            <td scope="col">{{order.date_order}}</td>
            <td scope="col">{{order.time_order}}</td>
            <td scope="col">{{order.address_country}}</td>
            <td scope="col">{{order.address_city}}</td>
            <td scope="col">{{order.address_street}}</td>
            <td scope="col">{{order.address_home}}</td>
            <td scope="col">{{order.address_zip_code}}</td>
            <td scope="col">{{order.price}}</td>
            <td scope="col">
                {%for ord in order_item%}
                {%for item in all_items%}
                {%if ord.id_order==order.id%}
                {%if item.id==ord.id_item%}
                <p style="color:red">Name:{{item.name}} Id:{{item.id}} EAN:{{item.EAN_code}} Price:{{item.price}}</p>
                {%endif%}
                {%endif%}
                {%endfor%}
                {%endfor%}
            </td>
            <td scope="col">{{order.delivery}}</td>
            <td scope="col">{{order.payment_method}}</td>
            <td scope="col">{{order.status}}</td>


            <td scope="col"><a href={{url_for('order_update_status',order_id=order.id)}}
                               class="btn btn-warning me-1">Update status</a>
                <a
                        href="#"
                        class="btn btn-danger disabled me-1">Delete order</a>
            </td>
        </tr>
        {%elif order.status==3%}
        <tr class="table-info">
            <td scope="col">{{order.id}}</td>
            <td scope="col">{{order.name}}</td>
            <td scope="col">{{order.surname}}</td>
            <td scope="col">{{order.email}}</td>
            <td scope="col">{{order.user_id}}</td>
            <td scope="col">{{order.date_order}}</td>
            <td scope="col">{{order.time_order}}</td>
            <td scope="col">{{order.address_country}}</td>
            <td scope="col">{{order.address_city}}</td>
            <td scope="col">{{order.address_street}}</td>
            <td scope="col">{{order.address_home}}</td>
            <td scope="col">{{order.address_zip_code}}</td>
            <td scope="col">{{order.price}}</td>
            <td scope="col">
                {%for ord in order_item%}
                {%for item in all_items%}
                {%if ord.id_order==order.id%}
                {%if item.id==ord.id_item%}
                <p style="color:red">Name:{{item.name}} Id:{{item.id}} EAN:{{item.EAN_code}} Price:{{item.price}}</p>
                {%endif%}
                {%endif%}
                {%endfor%}
                {%endfor%}
            </td>
            <td scope="col">{{order.delivery}}</td>
            <td scope="col">{{order.payment_method}}</td>
            <td scope="col">{{order.status}}</td>


            <td scope="col"><a href={{url_for('order_update_status',order_id=order.id)}}
                               class="btn btn-warning me-1">Update status</a>
                <a
                        href="#"
                        class="btn btn-danger disabled me-1">Delete order</a>
            </td>
        </tr>
        {%elif order.status==4%}
        <tr class="table-primary">
            <td scope="col">{{order.id}}</td>
            <td scope="col">{{order.name}}</td>
            <td scope="col">{{order.surname}}</td>
            <td scope="col">{{order.email}}</td>
            <td scope="col">{{order.user_id}}</td>
            <td scope="col">{{order.date_order}}</td>
            <td scope="col">{{order.time_order}}</td>
            <td scope="col">{{order.address_country}}</td>
            <td scope="col">{{order.address_city}}</td>
            <td scope="col">{{order.address_street}}</td>
            <td scope="col">{{order.address_home}}</td>
            <td scope="col">{{order.address_zip_code}}</td>
            <td scope="col">{{order.price}}</td>
            <td scope="col">
                {%for ord in order_item%}
                {%for item in all_items%}
                {%if ord.id_order==order.id%}
                {%if item.id==ord.id_item%}
                <p style="color:red">Name:{{item.name}} Id:{{item.id}} EAN:{{item.EAN_code}} Price:{{item.price}}</p>
                {%endif%}
                {%endif%}
                {%endfor%}
                {%endfor%}
            </td>
            <td scope="col">{{order.delivery}}</td>
            <td scope="col">{{order.payment_method}}</td>
            <td scope="col">{{order.status}}</td>


            <td scope="col"><a href={{url_for('order_update_status',order_id=order.id)}}
                               class="btn btn-warning me-1">Update status</a>
                <a
                        href="#"
                        class="btn btn-danger disabled me-1">Delete order</a>
            </td>
        </tr>
        {%elif order.status>=5%}
        <tr class="table-success">
            <td scope="col">{{order.id}}</td>
            <td scope="col">{{order.name}}</td>
            <td scope="col">{{order.surname}}</td>
            <td scope="col">{{order.email}}</td>
            <td scope="col">{{order.user_id}}</td>
            <td scope="col">{{order.date_order}}</td>
            <td scope="col">{{order.time_order}}</td>
            <td scope="col">{{order.address_country}}</td>
            <td scope="col">{{order.address_city}}</td>
            <td scope="col">{{order.address_street}}</td>
            <td scope="col">{{order.address_home}}</td>
            <td scope="col">{{order.address_zip_code}}</td>
            <td scope="col">{{order.price}}</td>
            <td scope="col">
                {%for ord in order_item%}
                {%for item in all_items%}
                {%if ord.id_order==order.id%}
                {%if item.id==ord.id_item%}
                <p style="color:red">Name:{{item.name}} Id:{{item.id}} EAN:{{item.EAN_code}} Price:{{item.price}}</p>
                {%endif%}
                {%endif%}
                {%endfor%}
                {%endfor%}
            </td>
            <td scope="col">{{order.delivery}}</td>
            <td scope="col">{{order.payment_method}}</td>
            <td scope="col">{{order.status}}</td>


            <td scope="col"><a href={{url_for('order_update_status',order_id=order.id)}}
                               class="btn btn-warning me-1">Update status</a>
                <a href="#" class="btn btn-danger disabled me-1">Delete order</a>
            </td>
        </tr>
        {%endif%}

        {%endfor%}
        </tbody>
    </table>
    {%endif%}

</div>
{%endblock%}