{%extends 'base.html'%}
{%block title%}Item : {{item.name}}{%endblock%}
{%block content%}

<div class="container">
    {%if item%}
    <p>Name:{{item.name}}</p>
    <p>Desc:{{item.description}}</p>
    <p>Price:{{item.price}}</p>
    <form action={{url_for('show_item',item_id=item.id)}} method="post" class="form">
        <label>Amount:</label><br>
        <input type="number" name="amount" min="1" max="10" value="1"><br> <br>
        <button type="submit" class="btn btn-primary">Add to cart</button>
    </form>


    {%endif%}
</div>
{%endblock%}